<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperation.back.dao.IconMapper">

    <select id="selectAll" resultType="java.util.List">
        select url,sort,icon from icon
    </select>

</mapper>
